# IMPORTING AND FORMATTING THE DATA

### IMPORT THE DATA
I decided to use 2015 data. Each .csv file was 1 month worth of Data. I used abreviations for each data.

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

In [5]:
jan = pd.read_csv('./Capstone_data/January_data.csv')
feb = pd.read_csv('./Capstone_data/February_data.csv')
mar = pd.read_csv('./Capstone_data/March_data.csv')
apr = pd.read_csv('./Capstone_data/April_data.csv')
may = pd.read_csv('./Capstone_data/May_data.csv')
june = pd.read_csv('./Capstone_data/June_data.csv')
july = pd.read_csv('./Capstone_data/July_data.csv')
aug = pd.read_csv('./Capstone_data/August_data.csv')
sept = pd.read_csv('./Capstone_data/September_data.csv')
octo = pd.read_csv('./Capstone_data/October_data.csv')
nov = pd.read_csv('./Capstone_data/November_data.csv')
dec = pd.read_csv('./Capstone_data/December_data.csv')

/home/dsi-student/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
jan.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57
0,2015,1,22,4,2015-01-22,DL,19790,DL,N969DL,12953,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,22,4,2015-01-22,DL,19790,DL,N912DL,10397,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,22,4,2015-01-22,DL,19790,DL,N359NW,14679,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,22,4,2015-01-22,DL,19790,DL,N957AT,10397,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,22,4,2015-01-22,DL,19790,DL,N985DL,10397,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
jan['DEP_DELAY_GROUP'][0:5]

0   -1.0
1    1.0
2   -1.0
3   -1.0
4   -1.0
Name: DEP_DELAY_GROUP, dtype: float64

In [9]:
jan.shape

(469968, 58)

In [10]:
jan.columns

Index([u'YEAR', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK', u'FL_DATE',
       u'UNIQUE_CARRIER', u'AIRLINE_ID', u'CARRIER', u'TAIL_NUM',
       u'ORIGIN_AIRPORT_ID', u'ORIGIN_AIRPORT_SEQ_ID',
       u'ORIGIN_CITY_MARKET_ID', u'ORIGIN', u'ORIGIN_CITY_NAME',
       u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM', u'DEST_AIRPORT_ID',
       u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID', u'DEST_CITY_NAME',
       u'DEST_STATE_ABR', u'DEST_STATE_NM', u'CRS_DEP_TIME', u'DEP_TIME',
       u'DEP_DELAY', u'DEP_DELAY_NEW', u'DEP_DEL15', u'DEP_DELAY_GROUP',
       u'DEP_TIME_BLK', u'TAXI_OUT', u'WHEELS_OFF', u'WHEELS_ON', u'TAXI_IN',
       u'CRS_ARR_TIME', u'ARR_TIME', u'ARR_DELAY', u'ARR_DELAY_NEW',
       u'ARR_DEL15', u'ARR_DELAY_GROUP', u'ARR_TIME_BLK', u'CANCELLED',
       u'CANCELLATION_CODE', u'DIVERTED', u'CRS_ELAPSED_TIME',
       u'ACTUAL_ELAPSED_TIME', u'AIR_TIME', u'FLIGHTS', u'DISTANCE',
       u'DISTANCE_GROUP', u'CARRIER_DELAY', u'WEATHER_DELAY', u'NAS_DELAY',
       u'SECURITY_DELAY', u'LATE_AIRCRAFT_DELAY', u'FIRST_DEP_TIME',
       u'TOTAL_ADD_GTIME', u'LONGEST_ADD_GTIME', u'Unnamed: 57'],
      dtype='object')

### Column Selection
There were lots of different columns used to describe similar attributes. I choose the columns that were most useful types of relaying that information.

In [24]:


needed_cols = ['YEAR','MONTH','DAY_OF_MONTH','AIRLINE_ID','UNIQUE_CARRIER', 'CARRIER','ORIGIN_CITY_NAME', 'DEST_CITY_NAME', 'ORIGIN_AIRPORT_ID','DEST_AIRPORT_ID',
                'DEP_DELAY','CANCELLED','DISTANCE','CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY',
                'LATE_AIRCRAFT_DELAY']

### Subseting the Data
Below I subsetted teh data with random samples. I created my own function to make this easier.

In [25]:
import random

In [26]:
def subset(df, cols, sample_size):
    clean = df[cols]
    rows = random.sample(df.index, sample_size)
    df_sub = df.ix[rows]
    return df_sub

In [27]:
jan_sub = subset(jan,needed_cols,10000)
feb_sub = subset(feb,needed_cols,10000)
mar_sub = subset(mar,needed_cols,10000)
apr_sub = subset(apr,needed_cols,10000)
may_sub = subset(may,needed_cols,10000)
june_sub = subset(june,needed_cols,10000)
july_sub = subset(july,needed_cols,10000)
aug_sub = subset(aug,needed_cols,10000)
sept_sub = subset(sept,needed_cols,10000)
octo_sub = subset(octo,needed_cols,10000)
nov_sub = subset(nov,needed_cols,10000)
dec_sub = subset(dec,needed_cols,10000)

In [15]:
dec_sub.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57
285325,2015,12,10,4,2015-12-10,AA,19805,AA,N765US,14107,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136875,2015,12,3,4,2015-12-03,WN,19393,WN,N637SW,14679,...,2,11.0,0.0,8.0,0.0,1.0,NaN,NaN,NaN,NaN
470641,2015,12,9,3,2015-12-09,UA,19977,UA,N37465,13204,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330349,2015,12,5,6,2015-12-05,B6,20409,B6,N956JB,14843,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322236,2015,12,28,1,2015-12-28,AS,19930,AS,N708AS,12523,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
jan_sub.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57
426219,2015,1,20,2,2015-01-20,AA,19805,AA,N5BYAA,14843,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133359,2015,1,1,4,2015-01-01,WN,19393,WN,N7705A,12191,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390672,2015,1,14,3,2015-01-14,AA,19805,AA,N4YTAA,11298,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173467,2015,1,14,3,2015-01-14,WN,19393,WN,N297WN,13204,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240049,2015,1,1,4,2015-01-01,NK,20416,NK,N510NK,12889,...,3,0.0,0.0,21.0,0.0,0.0,NaN,NaN,NaN,NaN

### Merging Data
After subsetting data from each month I merged the data into one dataframe.

In [30]:
merged_list = [jan_sub, feb_sub, mar_sub, apr_sub, may_sub, june_sub, 
               july_sub, aug_sub, sept_sub, octo_sub, nov_sub, dec_sub]
merged = pd.concat(merged_list)

In [48]:
merged.reset_index(inplace=True)

In [51]:
merged_col =[x for x in merged.columns if x not in ['index']]

In [52]:
merged = merged[merged_col]

In [68]:
merged[['DEST_AIRPORT_ID', 'DEST_CITY_NAME']]

        DEST_AIRPORT_ID         DEST_CITY_NAME
0                 10693          Nashville, TN
1                 13487        Minneapolis, MN
2                 15304              Tampa, FL
3                 13796            Oakland, CA
4                 12264         Washington, DC
5                 14771      San Francisco, CA
6                 10397            Atlanta, GA
7                 14307         Providence, RI
8                 14908          Santa Ana, CA
9                 14747            Seattle, WA
10                14262       Palm Springs, CA
11                12448  Jackson/Vicksburg, MS
12                14771      San Francisco, CA
13                14698    San Luis Obispo, CA
14                14771      San Francisco, CA
15                12191            Houston, TX
16                11292             Denver, CO
17                14893         Sacramento, CA
18                11057          Charlotte, NC
19                13930            Chicago, IL
20                10279           Amarillo, TX
21                12892        Los Angeles, CA
22                11057          Charlotte, NC
23                14771      San Francisco, CA
24                13930            Chicago, IL
25                13232            Chicago, IL
26                13796            Oakland, CA
27                14843           San Juan, PR
28                11278         Washington, DC
29                11292             Denver, CO
...                 ...                    ...
119970            14747            Seattle, WA
119971            11618             Newark, NJ
119972            13796            Oakland, CA
119973            12264         Washington, DC
119974            12892        Los Angeles, CA
119975            12889          Las Vegas, NV
119976            14524           Richmond, VA
119977            11697    Fort Lauderdale, FL
119978            10397            Atlanta, GA
119979            12478           New York, NY
119980            12954         Long Beach, CA
119981            12953           New York, NY
119982            14100       Philadelphia, PA
119983            11433            Detroit, MI
119984            13796            Oakland, CA
119985            13377             Monroe, LA
119986            11057          Charlotte, NC
119987            13487        Minneapolis, MN
119988            14747            Seattle, WA
119989            11433            Detroit, MI
119990            12889          Las Vegas, NV
119991            10397            Atlanta, GA
119992            11057          Charlotte, NC
119993            10721             Boston, MA
119994            13232            Chicago, IL
119995            11057          Charlotte, NC
119996            13303              Miami, FL
119997            10185         Alexandria, LA
119998            11292             Denver, CO
119999            13930            Chicago, IL

[120000 rows x 2 columns]

### ADDING IN COORDINATES
I know that I want to use latitude and longitude coordinates to each airport (as well as the airport name), so I imported another dataset from the USDOT and merged them together.

In [77]:
locs = pd.read_csv('./Capstone_data/new_coordinates.csv')
locs.head()

,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_COUNTRY_CODE_ISO,CITY_MARKET_ID,DISPLAY_CITY_MARKET_NAME_FULL,LAT_DEGREES,LATITUDE,LON_DEGREES,LONGITUDE,Unnamed: 11
0,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",US,30001,"Afognak Lake, AK",58.0,58.109444,152.0,-152.906667,NaN
1,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",US,30003,"Granite Mountain, AK",65.0,65.548056,161.0,-161.071667,NaN
2,10004,04A,Lik Mining Camp,"Lik, AK",US,30004,"Lik, AK",68.0,68.083333,163.0,-163.166667,NaN
3,10005,05A,Little Squaw Airport,"Little Squaw, AK",US,30005,"Little Squaw, AK",67.0,67.570000,148.0,-148.183889,NaN
4,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",US,30006,"Kizhuyak, AK",57.0,57.745278,152.0,-152.882778,NaN

In [78]:
locs['AIRPORT_COUNTRY_CODE_ISO'].unique()

array(['US', 'PF', 'AU', 'EG', 'DZ', 'DE', 'BR', 'DK', 'ZA', 'AE', 'VE',
       'RU', 'WS', 'IR', 'CI', 'ET', 'SA', 'NG', 'GB', 'MX', 'GH', 'ES',
       'CH', 'PA', 'TR', 'PG', 'YD', 'YE', 'JO', 'CO', 'ID', 'TD', 'MR',
       'AR', 'SU', 'NO', 'IS', 'MA', 'FR', 'SE', 'GR', 'IN', 'PY', 'JP',
       'IT', 'HN', 'CK', 'KM', 'NE', 'LY', 'NZ', 'SB', 'CY', 'KZ', 'MM',
       'SY', 'SO', 'MG', 'NL', 'CL', 'MZ', 'BE', 'PE', nan, 'AG', 'MY',
       'BO', 'FJ', 'PR', 'TZ', 'RO', 'AO', 'ER', 'TM', 'BS', 'SH', 'SD',
       'UY', 'AN', 'AW', 'VU', 'CU', 'AI', 'DO', 'PH', 'BH', 'CR', 'AZ',
       'TH', 'DD', 'CN', 'GP', 'CF', 'ZM', 'TP', 'TL', 'BM', 'SC', 'PK',
       'NP', 'NI', 'YU', 'CS', 'RS', 'IL', 'LB', 'ZW', 'GA', 'BB', 'IQ',
       'UZ', 'MH', 'AF', 'GM', 'BI', 'ML', 'CD', 'CM', 'MW', 'GY', 'BA',
       'BG', 'BQ', 'HV', 'BF', 'VC', 'CZ', 'GQ', 'LK', 'SL', 'SK', 'HU',
       'GE', 'BN', 'SN', 'IE', 'BZ', 'PL', 'CG', 'CA', 'VN', 'HT', 'GF',
       'GT', 'CC', 'BD', 'KR', 'GN', 'TW', 'BJ', 'LR', 'GD', 'EC', 'CW',
       'KI', 'KY', 'HR', 'DM', 'TN', 'UA', 'QA', 'PT', 'TJ', 'YT', 'UG',
       'KE', 'VG', 'MN', 'TO', 'AM', 'MQ', 'KP', 'KG', 'BW', 'PM', 'TV',
       'WF', 'MV', 'TC', 'NC', 'GI', 'GL', 'BY', 'AT', 'GU', 'FI', 'HK',
       'SR', 'NR', 'NU', 'ME', 'DJ', 'SS', 'RW', 'JM', 'MD', 'KH', 'FM',
       'LT', 'KW', 'TG', 'SI', 'LA', 'LU', 'MC', 'OM', 'MO', 'MT', 'MS',
       'FK', 'MF', 'MU', 'LS', 'SZ', 'KN', 'IO', 'NF', 'CV', 'AS', 'MK',
       'GW', 'BT', 'TT', 'KV', 'SG', 'LV', 'MP', 'PW', 'RE', 'SV', 'BL',
       'VI', 'LC', 'SX', 'AL', 'EE', 'ST', 'CX'], dtype=object)

In [84]:
mask = locs['AIRPORT_COUNTRY_CODE_ISO'] == 'US'
locs_sub = locs[mask][['AIRPORT_ID','DISPLAY_AIRPORT_NAME','LATITUDE','LONGITUDE']]
loc_sub = locs_sub.groupby('AIRPORT_ID').max().reset_index()

In [95]:
type(merged['DEST_AIRPORT_ID'][0])

numpy.int64

In [103]:
dest_locs = loc_sub
dest_locs.columns = ['DEST_AIRPORT_ID','DEST_AIRPORT_NAME','DEST_LATITUDE','DEST_LONGITUDE']

In [104]:
dest_locs.head()

   DEST_AIRPORT_ID        DEST_AIRPORT_NAME  DEST_LATITUDE  DEST_LONGITUDE
0            10001     Afognak Lake Airport      58.109444     -152.906667
1            10003  Bear Creek Mining Strip      65.548056     -161.071667
2            10004          Lik Mining Camp      68.083333     -163.166667
3            10005     Little Squaw Airport      67.570000     -148.183889
4            10006             Kizhuyak Bay      57.745278     -152.882778

In [105]:
merged_dest = pd.merge(merged, dest_locs, on='DEST_AIRPORT_ID',how='left')
merged_dest.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57,DEST_AIRPORT_NAME,DEST_LATITUDE,DEST_LONGITUDE
0,2015,1,23,5,2015-01-23,OO,20304,OO,N751SK,13930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nashville International,36.126667,-86.678056
1,2015,1,24,6,2015-01-24,AA,19805,AA,N481AA,13930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minneapolis-St Paul International,44.886111,-93.217778
2,2015,1,17,6,2015-01-17,WN,19393,WN,N482WN,12191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tampa International,27.975556,-82.533333
3,2015,1,16,5,2015-01-16,OO,20304,OO,N824SK,12892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Metropolitan Oakland International,37.722778,-122.220833
4,2015,1,12,1,2015-01-12,UA,19977,UA,N87527,11292,...,16.0,0.0,0.0,NaN,NaN,NaN,NaN,Washington Dulles International,38.947500,-77.457500

In [108]:
origin_locs = loc_sub
origin_locs.columns = ['ORIGIN_AIRPORT_ID','ORIGIN_AIRPORT_NAME','ORIGIN_LATITUDE','ORIGIN_LONGITUDE']

In [109]:
merged_subs = pd.merge(merged_dest, origin_locs, on='ORIGIN_AIRPORT_ID',how='left')
merged_subs.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57,DEST_AIRPORT_NAME,DEST_LATITUDE,DEST_LONGITUDE,ORIGIN_AIRPORT_NAME,ORIGIN_LATITUDE,ORIGIN_LONGITUDE
0,2015,1,23,5,2015-01-23,OO,20304,OO,N751SK,13930,...,NaN,NaN,NaN,NaN,Nashville International,36.126667,-86.678056,Chicago O'Hare International,41.981667,-87.906111
1,2015,1,24,6,2015-01-24,AA,19805,AA,N481AA,13930,...,NaN,NaN,NaN,NaN,Minneapolis-St Paul International,44.886111,-93.217778,Chicago O'Hare International,41.981667,-87.906111
2,2015,1,17,6,2015-01-17,WN,19393,WN,N482WN,12191,...,NaN,NaN,NaN,NaN,Tampa International,27.975556,-82.533333,William P Hobby,29.645556,-95.278611
3,2015,1,16,5,2015-01-16,OO,20304,OO,N824SK,12892,...,NaN,NaN,NaN,NaN,Metropolitan Oakland International,37.722778,-122.220833,Los Angeles International,33.942500,-118.407222
4,2015,1,12,1,2015-01-12,UA,19977,UA,N87527,11292,...,NaN,NaN,NaN,NaN,Washington Dulles International,38.947500,-77.457500,Stapleton International,39.861667,-104.673056

In [110]:
merged_subs.shape

(120000, 64)

In [111]:
merged_subs['DEP_DELAY'].values

array([ -1.,  13.,   0., ..., -10.,  -5.,  -4.])

In [112]:
hello  = merged_subs[['MONTH','DEP_DELAY']]

In [113]:
hello.groupby('MONTH').mean()

       DEP_DELAY
MONTH
1       9.826399
2      11.611292
3       9.168558
4       7.891706
5       9.766555
6      13.528160
7      11.928219
8       9.631133
9       4.902189
10      4.781335
11      7.364398
12     11.616668

In [114]:
mask = hello['DEP_DELAY'] > 0
print hello[mask].mean()
print hello[~mask].mean()

MONTH         6.340427
DEP_DELAY    32.752930
dtype: float64
MONTH        6.590770
DEP_DELAY   -4.344513
dtype: float64

In [115]:
merged_subs['Dep_Delay_Binary'] = merged_subs.DEP_DELAY.map(lambda x: 1 if x > 0 else 0)
merged_subs.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57,DEST_AIRPORT_NAME,DEST_LATITUDE,DEST_LONGITUDE,ORIGIN_AIRPORT_NAME,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,Dep_Delay_Binary
0,2015,1,23,5,2015-01-23,OO,20304,OO,N751SK,13930,...,NaN,NaN,NaN,Nashville International,36.126667,-86.678056,Chicago O'Hare International,41.981667,-87.906111,0
1,2015,1,24,6,2015-01-24,AA,19805,AA,N481AA,13930,...,NaN,NaN,NaN,Minneapolis-St Paul International,44.886111,-93.217778,Chicago O'Hare International,41.981667,-87.906111,1
2,2015,1,17,6,2015-01-17,WN,19393,WN,N482WN,12191,...,NaN,NaN,NaN,Tampa International,27.975556,-82.533333,William P Hobby,29.645556,-95.278611,0
3,2015,1,16,5,2015-01-16,OO,20304,OO,N824SK,12892,...,NaN,NaN,NaN,Metropolitan Oakland International,37.722778,-122.220833,Los Angeles International,33.942500,-118.407222,1
4,2015,1,12,1,2015-01-12,UA,19977,UA,N87527,11292,...,NaN,NaN,NaN,Washington Dulles International,38.947500,-77.457500,Stapleton International,39.861667,-104.673056,1

In [116]:
merged_subs.columns

Index([u'YEAR', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK', u'FL_DATE',
       u'UNIQUE_CARRIER', u'AIRLINE_ID', u'CARRIER', u'TAIL_NUM',
       u'ORIGIN_AIRPORT_ID', u'ORIGIN_AIRPORT_SEQ_ID',
       u'ORIGIN_CITY_MARKET_ID', u'ORIGIN', u'ORIGIN_CITY_NAME',
       u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM', u'DEST_AIRPORT_ID',
       u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID', u'DEST_CITY_NAME',
       u'DEST_STATE_ABR', u'DEST_STATE_NM', u'CRS_DEP_TIME', u'DEP_TIME',
       u'DEP_DELAY', u'DEP_DELAY_NEW', u'DEP_DEL15', u'DEP_DELAY_GROUP',
       u'DEP_TIME_BLK', u'TAXI_OUT', u'WHEELS_OFF', u'WHEELS_ON', u'TAXI_IN',
       u'CRS_ARR_TIME', u'ARR_TIME', u'ARR_DELAY', u'ARR_DELAY_NEW',
       u'ARR_DEL15', u'ARR_DELAY_GROUP', u'ARR_TIME_BLK', u'CANCELLED',
       u'CANCELLATION_CODE', u'DIVERTED', u'CRS_ELAPSED_TIME',
       u'ACTUAL_ELAPSED_TIME', u'AIR_TIME', u'FLIGHTS', u'DISTANCE',
       u'DISTANCE_GROUP', u'CARRIER_DELAY', u'WEATHER_DELAY', u'NAS_DELAY',
       u'SECURITY_DELAY', u'LATE_AIRCRAFT_DELAY', u'FIRST_DEP_TIME',
       u'TOTAL_ADD_GTIME', u'LONGEST_ADD_GTIME', u'Unnamed: 57',
       u'DEST_AIRPORT_NAME', u'DEST_LATITUDE', u'DEST_LONGITUDE',
       u'ORIGIN_AIRPORT_NAME', u'ORIGIN_LATITUDE', u'ORIGIN_LONGITUDE',
       u'Dep_Delay_Binary'],
      dtype='object')

#### Finally after cleaning the data to my satisfaction, I pickled my dataset to make it easier to code in.

In [117]:
merged_subs.to_pickle('./Flight_Pickle')

## REGRESSION AND PREDICTION

In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegressionCV, ElasticNetCV
from sklearn.cross_validation import train_test_split, cross_val_score
import patsy
%matplotlib inline

merged_subs = pd.read_pickle('./Flight_Pickle')

In [3]:
merged_subs.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,...,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 57,DEST_AIRPORT_NAME,DEST_LATITUDE,DEST_LONGITUDE,ORIGIN_AIRPORT_NAME,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,Dep_Delay_Binary
0,2015,1,23,5,2015-01-23,OO,20304,OO,N751SK,13930,...,NaN,NaN,NaN,Nashville International,36.126667,-86.678056,Chicago O'Hare International,41.981667,-87.906111,0
1,2015,1,24,6,2015-01-24,AA,19805,AA,N481AA,13930,...,NaN,NaN,NaN,Minneapolis-St Paul International,44.886111,-93.217778,Chicago O'Hare International,41.981667,-87.906111,1
2,2015,1,17,6,2015-01-17,WN,19393,WN,N482WN,12191,...,NaN,NaN,NaN,Tampa International,27.975556,-82.533333,William P Hobby,29.645556,-95.278611,0
3,2015,1,16,5,2015-01-16,OO,20304,OO,N824SK,12892,...,NaN,NaN,NaN,Metropolitan Oakland International,37.722778,-122.220833,Los Angeles International,33.942500,-118.407222,1
4,2015,1,12,1,2015-01-12,UA,19977,UA,N87527,11292,...,NaN,NaN,NaN,Washington Dulles International,38.947500,-77.457500,Stapleton International,39.861667,-104.673056,1

In [4]:
merged_subs.columns

Index([u'YEAR', u'MONTH', u'DAY_OF_MONTH', u'DAY_OF_WEEK', u'FL_DATE',
       u'UNIQUE_CARRIER', u'AIRLINE_ID', u'CARRIER', u'TAIL_NUM',
       u'ORIGIN_AIRPORT_ID', u'ORIGIN_AIRPORT_SEQ_ID',
       u'ORIGIN_CITY_MARKET_ID', u'ORIGIN', u'ORIGIN_CITY_NAME',
       u'ORIGIN_STATE_ABR', u'ORIGIN_STATE_NM', u'DEST_AIRPORT_ID',
       u'DEST_AIRPORT_SEQ_ID', u'DEST_CITY_MARKET_ID', u'DEST_CITY_NAME',
       u'DEST_STATE_ABR', u'DEST_STATE_NM', u'CRS_DEP_TIME', u'DEP_TIME',
       u'DEP_DELAY', u'DEP_DELAY_NEW', u'DEP_DEL15', u'DEP_DELAY_GROUP',
       u'DEP_TIME_BLK', u'TAXI_OUT', u'WHEELS_OFF', u'WHEELS_ON', u'TAXI_IN',
       u'CRS_ARR_TIME', u'ARR_TIME', u'ARR_DELAY', u'ARR_DELAY_NEW',
       u'ARR_DEL15', u'ARR_DELAY_GROUP', u'ARR_TIME_BLK', u'CANCELLED',
       u'CANCELLATION_CODE', u'DIVERTED', u'CRS_ELAPSED_TIME',
       u'ACTUAL_ELAPSED_TIME', u'AIR_TIME', u'FLIGHTS', u'DISTANCE',
       u'DISTANCE_GROUP', u'CARRIER_DELAY', u'WEATHER_DELAY', u'NAS_DELAY',
       u'SECURITY_DELAY', u'LATE_AIRCRAFT_DELAY', u'FIRST_DEP_TIME',
       u'TOTAL_ADD_GTIME', u'LONGEST_ADD_GTIME', u'Unnamed: 57',
       u'DEST_AIRPORT_NAME', u'DEST_LATITUDE', u'DEST_LONGITUDE',
       u'ORIGIN_AIRPORT_NAME', u'ORIGIN_LATITUDE', u'ORIGIN_LONGITUDE',
       u'Dep_Delay_Binary'],
      dtype='object')

#### Initially I wanted to use all of the predictors that seemed somewhat logical in the data set to see if I could find any strong correlations

In [6]:

formula = '''Dep_Delay_Binary ~ C(MONTH) + C(DAY_OF_MONTH) + DISTANCE + C(ORIGIN_AIRPORT_ID) + 
C(DEST_AIRPORT_ID)+ DEST_LONGITUDE + ORIGIN_LONGITUDE + DEST_LATITUDE + ORIGIN_LATITUDE -1'''


y_mat, x_mat = patsy.dmatrices(formula, merged_subs)

#, x_test, y_train, y_test = train_test_split(x_mat, y_mat, test_size = .3)

In [7]:
x_mat_reg =(x_mat - x_mat.mean())/x_mat.std()

In [8]:
# i

In [9]:
# from sklearn.grid_search import GridSearchCV



# params ={
#     'l1_ratio': np.linspace(0,1,100)
# }

# grid_EN = GridSearchCV(ElasticNetCV, params, cv=5)

# grid_EN.fit(x_mat, y_mat)

In [90]:
# c = np.linspace(0,1,20)
# print c

In [14]:
print x_mat.shape

(120000, 685)

### Below I use SGD to gridsearch with an Elastic Net penalty. Looking at the coefficients of the predictors would give me a good idea of what predictors are worth using.

In [10]:
y_mat = np.ravel(y_mat)

In [18]:
from sklearn.linear_model import ElasticNet
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import SGDRegressor

e_net = ElasticNet()
sgd_enet = SGDRegressor()
c = np.linspace(0,1,20)

params = {
    'penalty':['elasticnet'],
    'alpha':np.logspace(-5,0,20),
    'l1_ratio':c
    }

grid_net = GridSearchCV(sgd_enet,params,cv=3, verbose=1)

grid_net.fit(x_mat,y_mat)

Fitting 3 folds for each of 400 candidates, totalling 1200 fits

[Parallel(n_jobs=1)]: Done  49 tasks       | elapsed:  1.8min
[Parallel(n_jobs=1)]: Done 199 tasks       | elapsed:  7.6min
[Parallel(n_jobs=1)]: Done 449 tasks       | elapsed: 16.4min
[Parallel(n_jobs=1)]: Done 799 tasks       | elapsed: 29.1min
[Parallel(n_jobs=1)]: Done 1200 out of 1200 | elapsed: 44.3min finished

GridSearchCV(cv=3, error_score='raise',
       estimator=SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', n_iter=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'penalty': ['elasticnet'], 'alpha': array([  1.00000e-05,   1.83298e-05,   3.35982e-05,   6.15848e-05,
         1.12884e-04,   2.06914e-04,   3.79269e-04,   6.95193e-04,
         1.27427e-03,   2.33572e-03,   4.28133e-03,   7.84760e-03,
         1.43845e-02,   2.63665e-02,   4.83293e-02,...895,
        0.63158,  0.68421,  0.73684,  0.78947,  0.84211,  0.89474,
        0.94737,  1.     ])},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=1)

In [19]:
net_best_estimator = grid_net.best_estimator_
net_best_params = grid_net.best_params_
net_best_score = grid_net.best_score_

print net_best_estimator
print net_best_params
print net_best_score

SGDRegressor(alpha=0.00020691380811147902, average=False, epsilon=0.1,
       eta0=0.01, fit_intercept=True, l1_ratio=0.15789473684210525,
       learning_rate='invscaling', loss='squared_loss', n_iter=5,
       penalty='elasticnet', power_t=0.25, random_state=None, shuffle=True,
       verbose=0, warm_start=False)
{'penalty': 'elasticnet', 'alpha': 0.00020691380811147902, 'l1_ratio': 0.15789473684210525}
-4.73328492281e+27

In [1]:
alpha = 0.00020691380811147902
l1_ratio = 0.15789473684210525

#### I use the optimal elastic net parameters to run the elastic net and get the coefficients.

In [15]:
from sklearn.linear_model import ElasticNet
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import SGDRegressor

en = ElasticNet(alpha=0.00020691380811147902, l1_ratio = 0.15789473684210525)

In [16]:
en.fit(x_mat,y_mat)

ElasticNet(alpha=0.000206913808111, copy_X=True, fit_intercept=True,
      l1_ratio=0.157894736842, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [21]:
en.coef_

array([  1.24343153e-02,   3.42983270e-02,   1.79311845e-02,
        -3.19389250e-02,  -8.18818525e-03,   5.40402416e-02,
         3.80217767e-02,  -0.00000000e+00,  -8.89829406e-02,
        -6.73531849e-02,  -4.06341396e-02,   2.18472966e-02,
         1.79143857e-02,  -2.12950293e-04,  -1.81644471e-02,
        -0.00000000e+00,  -2.09946313e-02,  -2.15063919e-02,
        -1.16233734e-02,  -4.88341523e-03,  -8.82687529e-03,
         1.42132449e-04,  -8.20505469e-03,  -2.37436404e-02,
        -2.78759471e-02,  -2.01802745e-03,   5.07427405e-03,
         1.79857274e-02,   2.84238494e-02,   2.48852775e-03,
         0.00000000e+00,  -2.02813265e-03,  -1.43271902e-02,
         3.84601064e-03,  -6.62618053e-03,  -2.53347129e-02,
        -4.88882804e-03,  -1.55555350e-02,  -2.43099531e-02,
        -1.63819386e-02,   7.82271749e-03,  -4.60994259e-02,
         0.00000000e+00,   3.95352025e-02,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -3.27002307e-02,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   5.38170398e-02,
        -0.00000000e+00,   2.43234532e-04,  -0.00000000e+00,
         0.00000000e+00,   9.09689195e-03,   0.00000000e+00,
         0.00000000e+00,   6.72655754e-02,  -0.00000000e+00,
         4.37440939e-02,  -0.00000000e+00,  -0.00000000e+00,
        -7.10304300e-02,  -0.00000000e+00,  -0.00000000e+00,
        -1.91308078e-02,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -4.61248756e-02,  -1.58948818e-02,
        -0.00000000e+00,  -0.00000000e+00,  -2.81043204e-02,
         2.95445190e-02,   1.74568075e-02,   4.50137929e-02,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -6.77471789e-02,   0.00000000e+00,
        -8.77190360e-03,   0.00000000e+00,  -0.00000000e+00,
        -2.23883416e-02,  -0.00000000e+00,   1.79828733e-01,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         3.84339658e-02,   0.00000000e+00,  -5.18649465e-03,
         4.75425545e-02,  -0.00000000e+00,  -0.00000000e+00,
         8.16883432e-03,  -2.97735510e-02,   3.78010787e-02,
         8.89052166e-03,  -2.02289337e-02,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   1.91980529e-01,
         4.33435927e-02,  -0.00000000e+00,  -6.12088578e-03,
         1.42804410e-01,   8.15211437e-02,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -3.82425723e-03,   0.00000000e+00,   2.09902317e-02,
        -0.00000000e+00,  -0.00000000e+00,  -4.78094045e-02,
         0.00000000e+00,  -0.00000000e+00,  -7.97544232e-02,
         1.06304251e-02,  -0.00000000e+00,  -0.00000000e+00,
        -2.04488247e-02,   0.00000000e+00,  -0.00000000e+00,
         9.72695327e-02,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   9.63076882e-03,   0.00000000e+00,
        -8.69521946e-03,  -0.00000000e+00,   3.67662354e-02,
        -6.12944111e-02,  -1.81266526e-02,  -0.00000000e+00,
        -1.68325317e-02,  -1.21475737e-02,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -7.06721495e-02,  -3.74502703e-02,  -1.17904353e-03,
        -0.00000000e+00,  -0.00000000e+00,  -5.96265832e-03,
        -1.94067785e-04,  -7.54655494e-03,  -3.23147948e-02,
         0.00000000e+00,  -6.23053320e-02,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -3.67809253e-02,  -3.37272275e-02,
        -2.35968641e-02,   1.47210466e-01,   0.00000000e+00,
        -5.50073203e-03,   6.82426411e-03,   0.00000000e+00,
        -0.00000000e+00,   3.81215445e-02,  -0.00000000e+00,
         9.25916988e-02,   5.59673127e-02,  -0.00000000e+00,
         0.00000000e+00,  -2.02408369e-02,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -4.59628484e-02,
        -6.09806883e-03,  -0.00000000e+00,   2.17643317e-02,
        -1.50351724e-04,  -0.00000000e+00,   1.26979449e-02,
         2.11704207e-02,  -0.00000000e+00,  -0.00000000e+00,
         3.61476912e-02,  -4.59049381e-02,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   9.16210705e-02,
        -3.85761772e-02,   7.33810328e-02,   0.00000000e+00,
         0.00000000e+00,  -2.47322010e-02,   1.47376771e-02,
         1.85497055e-03,   6.16005841e-02,  -6.09771256e-02,
        -0.00000000e+00,  -2.61609683e-02,  -3.54986617e-02,
        -3.84607947e-02,  -3.81542869e-02,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   2.33503412e-02,
         3.51079816e-02,  -3.47652520e-02,   1.82642114e-01,
         9.46144805e-04,  -0.00000000e+00,  -7.18177755e-02,
        -5.65699838e-02,   0.00000000e+00,  -1.16457596e-02,
         8.49696511e-03,   6.52885097e-02,   2.25269752e-02,
         0.00000000e+00,   4.11602941e-03,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -1.96691150e-02,
        -3.21572228e-02,   0.00000000e+00,   1.12868056e-02,
         2.44329764e-02,   0.00000000e+00,   0.00000000e+00,
         1.23525862e-02,   4.97252668e-02,   1.35680234e-01,
        -2.26019328e-02,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   3.31734767e-02,   1.32199421e-01,
         4.58925032e-02,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         4.37000960e-02,   0.00000000e+00,   0.00000000e+00,
         3.83925567e-02,   8.56228000e-02,   3.05351848e-02,
        -0.00000000e+00,  -0.00000000e+00,  -2.38535540e-02,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   3.04542129e-02,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -1.64520168e-02,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   1.47512880e-02,  -0.00000000e+00,
         4.42052290e-03,  -0.00000000e+00,   1.90439750e-02,
         8.89787177e-03,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -1.42807129e-02,  -0.00000000e+00,
         1.33423367e-02,   3.10463058e-02,   3.49094449e-02,
        -5.50625687e-02,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         4.39898603e-02,   9.13702410e-02,  -1.11604134e-02,
        -0.00000000e+00,  -1.83176424e-02,  -0.00000000e+00,
         4.27221586e-02,  -0.00000000e+00,  -3.58170809e-02,
        -1.68069324e-02,   8.32436534e-02,  -0.00000000e+00,
         4.43095747e-02,  -0.00000000e+00,   2.57454505e-02,
        -4.92635159e-02,  -0.00000000e+00,   7.11256967e-02,
        -1.07514671e-02,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -3.69913894e-02,
        -0.00000000e+00,  -2.24455227e-04,   8.21009292e-03,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -7.67587416e-03,  -1.38573207e-02,  -0.00000000e+00,
         0.00000000e+00,   7.92338973e-03,   1.78264698e-02,
        -0.00000000e+00,   0.00000000e+00,  -6.83744972e-02,
         0.00000000e+00,  -0.00000000e+00,  -1.25722862e-02,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         4.39507596e-02,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   0.00000000e+00,
         3.63804244e-02,   0.00000000e+00,   0.00000000e+00,
         2.55894931e-03,  -0.00000000e+00,  -0.00000000e+00,
        -8.88534379e-03,   0.00000000e+00,  -0.00000000e+00,
         1.31309974e-02,  -0.00000000e+00,   0.00000000e+00,
        -7.08299997e-03,  -0.00000000e+00,   1.80922217e-02,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         2.40922117e-02,   0.00000000e+00,  -9.21935077e-02,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   3.04393117e-02,
         5.07080539e-02,   1.81350456e-02,  -0.00000000e+00,
        -0.00000000e+00,   7.76214862e-02,  -0.00000000e+00,
        -6.53930764e-02,   0.00000000e+00,  -0.00000000e+00,
        -1.81424646e-02,  -0.00000000e+00,   8.71634421e-03,
         2.52815820e-02,   5.04964325e-02,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
         1.41849928e-02,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -3.69529817e-02,  -3.82698541e-02,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   2.54217666e-02,   0.00000000e+00,
        -0.00000000e+00,  -7.93225006e-03,  -0.00000000e+00,
         0.00000000e+00,  -6.96199309e-03,  -0.00000000e+00,
        -0.00000000e+00,   6.05038366e-02,  -4.43011565e-02,
         0.00000000e+00,  -1.63821889e-02,   7.27559224e-02,
        -1.01591426e-02,  -4.12235919e-03,  -0.00000000e+00,
        -0.00000000e+00,  -1.92560420e-03,  -0.00000000e+00,
        -3.29816304e-03,  -0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -1.63439611e-03,   2.78482590e-02,  -0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   6.59121170e-02,  -2.34061745e-02,
         1.75645315e-02,  -0.00000000e+00,  -5.42481119e-02,
        -2.52983268e-02,   0.00000000e+00,  -7.41758511e-02,
         6.32754437e-02,   0.00000000e+00,  -2.33945012e-02,
         0.00000000e+00,  -6.35432327e-02,  -6.63023315e-03,
         0.00000000e+00,   1.96743840e-02,  -0.00000000e+00,
        -0.00000000e+00,  -7.95470070e-02,  -0.00000000e+00,
        -4.44056688e-02,  -8.56152730e-03,  -0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -2.26527611e-02,  -3.83512780e-02,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,   1.96464912e-02,
        -0.00000000e+00,   5.51020742e-02,   5.22594112e-02,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,   4.62351914e-02,   0.00000000e+00,
         2.55914690e-02,  -0.00000000e+00,   5.76582932e-03,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         2.27862669e-02,  -0.00000000e+00,  -0.00000000e+00,
         1.79101133e-02,  -0.00000000e+00,   2.81685832e-03,
        -3.99771542e-02,   2.04204010e-02,   4.38911301e-02,
        -0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -4.28955461e-03,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   4.82642303e-02,  -1.17493428e-02,
         5.02630192e-02,  -2.96269015e-02,   0.00000000e+00,
        -3.02608119e-02,  -6.93578487e-02,  -5.96263836e-02,
         3.87538478e-02,  -0.00000000e+00,   0.00000000e+00,
         4.27274867e-02,  -0.00000000e+00,   0.00000000e+00,
        -1.31776944e-02,  -0.00000000e+00,  -1.82077562e-02,
         0.00000000e+00,   4.01860202e-02,   3.71324874e-02,
        -1.07138417e-02,   6.49483799e-02,  -0.00000000e+00,
        -5.85539925e-03,  -0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -2.57138363e-03,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,  -2.46688787e-02,  -4.91101879e-02,
        -0.00000000e+00,  -7.84578517e-02,  -8.23354134e-02,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
        -1.14456876e-02,  -1.09761521e-02,   5.10057296e-03,
         0.00000000e+00,   0.00000000e+00,  -0.00000000e+00,
        -0.00000000e+00,   1.14045733e-01,  -1.43724570e-02,
         9.76927366e-04,   0.00000000e+00,   0.00000000e+00,
         2.63814402e-02,   2.37084503e-02,   6.98592435e-02,
        -8.67687680e-03,   0.00000000e+00,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,   8.21840551e-02,
         7.99698299e-03,  -0.00000000e+00,   1.06525443e-02,
         1.08437911e-02,  -5.47768639e-02,   0.00000000e+00,
        -0.00000000e+00,   7.19179338e-03,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -1.20694172e-02,
         0.00000000e+00,   0.00000000e+00,   7.16327104e-03,
        -0.00000000e+00,   1.10347570e-02,   0.00000000e+00,
        -6.46764027e-03,  -0.00000000e+00,  -0.00000000e+00,
         3.94585125e-02,  -0.00000000e+00,   1.54454843e-02,
        -0.00000000e+00,   5.26998648e-02,  -0.00000000e+00,
         2.95035490e-02,  -0.00000000e+00,  -6.86777480e-03,
         2.48783385e-02,   0.00000000e+00,   3.07656062e-02,
         7.44195404e-02,  -3.35853956e-03,  -1.81954209e-02,
        -4.70460345e-02,  -5.35735385e-02,  -0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,  -1.58255019e-02,
         8.47023379e-02,   0.00000000e+00,  -0.00000000e+00,
        -4.42746634e-02,   0.00000000e+00,   2.57776632e-02,
        -0.00000000e+00,   6.41260344e-02,  -2.93710563e-02,
         6.08479023e-02,  -0.00000000e+00,   5.07988362e-03,
        -0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   4.35256073e-02,   6.10401635e-02,
         0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         1.44059658e-02,  -0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   6.76329621e-02,  -0.00000000e+00,
         4.63151727e-02,   2.08775928e-02,   2.05986560e-02,
        -0.00000000e+00,  -0.00000000e+00,  -0.00000000e+00,
         0.00000000e+00,  -3.24201899e-02,   0.00000000e+00,
        -0.00000000e+00,   0.00000000e+00,  -2.64677114e-02,
         8.67710557e-03,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,  -0.00000000e+00,   4.00247406e-05,
        -1.25107963e-04,   2.57288909e-04,   7.71738808e-05,
        -2.02609466e-03])

In [41]:
x_mat.shape, en.coef_.shape, merged_subs.shape

((120000, 685), (685,), (120000, 65))

In [46]:
col_names = x_mat.design_info.column_names

In [57]:
col_coefs = en.coef_
col_coefs = col_coefs.tolist()

In [59]:
col_coefs[0]

0.012434315343969767

In [66]:
col_coefs_list = zip(col_names,col_coefs)

In [68]:
coef_df = pd.DataFrame(col_coefs_list)
coef_df.columns = ['feature','coef']

In [70]:
coef_df.coef.max()

0.19198052878001223

In [71]:
coef_df.coef.min()

-0.092193507683597659

In [73]:
coef_df.sort_values('coef')[0:5]

                           feature      coef
389    C(DEST_AIRPORT_ID)[T.10561] -0.092194
8                      C(MONTH)[9] -0.088983
569    C(DEST_AIRPORT_ID)[T.13433] -0.082335
140  C(ORIGIN_AIRPORT_ID)[T.11537] -0.079754
484    C(DEST_AIRPORT_ID)[T.11921] -0.079547

In [74]:
coef_df.sort_values('coef', ascending=False)[0:5]

                           feature      coef
122  C(ORIGIN_AIRPORT_ID)[T.11259]  0.191981
236  C(ORIGIN_AIRPORT_ID)[T.13232]  0.182642
92   C(ORIGIN_AIRPORT_ID)[T.10821]  0.179829
184  C(ORIGIN_AIRPORT_ID)[T.12191]  0.147210
126  C(ORIGIN_AIRPORT_ID)[T.11292]  0.142804

In [79]:
mask1 = merged_subs.ORIGIN_AIRPORT_ID == 11259
mask2 = merged_subs.ORIGIN_AIRPORT_ID == 13232
mask3 = merged_subs.ORIGIN_AIRPORT_ID == 10821
mask4 = merged_subs.ORIGIN_AIRPORT_ID == 12191
mask5 = merged_subs.ORIGIN_AIRPORT_ID == 11292

In [86]:
print merged_subs[mask1].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask1].ORIGIN_CITY_NAME.max()
print merged_subs[mask2].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask2].ORIGIN_CITY_NAME.max()
print merged_subs[mask3].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask3].ORIGIN_CITY_NAME.max()
print merged_subs[mask4].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask4].ORIGIN_CITY_NAME.max()
print merged_subs[mask5].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask5].ORIGIN_CITY_NAME.max()

Dallas Love Field  ,  Dallas, TX
Chicago Midway International  ,  Chicago, IL
Friendship International  ,  Baltimore, MD
William P Hobby  ,  Houston, TX
Stapleton International  ,  Denver, CO

In [87]:
mask6 = merged_subs.DEST_AIRPORT_ID == 10561
mask7 = merged_subs.DEST_AIRPORT_ID == 13433
mask8 = merged_subs.ORIGIN_AIRPORT_ID == 11537
mask9 = merged_subs.DEST_AIRPORT_ID == 11292

In [89]:
print merged_subs[mask6].DEST_AIRPORT_NAME.max()," , ", merged_subs[mask6].DEST_CITY_NAME.max()
print merged_subs[mask7].DEST_AIRPORT_NAME.max()," , ", merged_subs[mask7].DEST_CITY_NAME.max()
print merged_subs[mask8].ORIGIN_AIRPORT_NAME.max()," , ", merged_subs[mask8].ORIGIN_CITY_NAME.max()
print merged_subs[mask9].DEST_AIRPORT_NAME.max()," , ", merged_subs[mask9].DEST_CITY_NAME.max()

Meadows Field  ,  Bakersfield, CA
Minot International  ,  Minot, ND
Elmira/Corning Regional  ,  Elmira/Corning, NY
Stapleton International  ,  Denver, CO

#### It seems that I need to change my predictors around and really make sure I am being more thoughtful about my approach.  Keifer made good points during my presentation on how I am using Destination airports incorrectly. I think that working with individual airports could be a better option and then hopefully making my project so that users could input any airport. I think I have a lot of work ahead of me, but I feel good about the progress that I have made so far.